trigger:
  branches:
    include:
      - '*'

pr:
  branches:
    include:
      - main

variables:
  DOTNET_VERSION: '10.0.x'
  CONFIGURATION: Release
  buildConfiguration: Release

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self
    fetchDepth: 0

  - task: UseDotNet@2
    displayName: 'Setup .NET'
    inputs:
      version: $(DOTNET_VERSION)

  - script: |
      dotnet tool install GitVersion.Tool -g
      dotnet gitversion /config GitVersion.yml /output json > gitversion.json
      cat gitversion.json
    displayName: 'Determine Version'

  - bash: |
      GITVERSION_JSON=$(cat gitversion.json)
      SEMVER=$(echo "$GITVERSION_JSON" | python3 -c "import sys, json; print(json.load(sys.stdin)['SemVer'])")
      FULLSEMVER=$(echo "$GITVERSION_JSON" | python3 -c "import sys, json; print(json.load(sys.stdin)['FullSemVer'])")
      INFORMATIONAL=$(echo "$GITVERSION_JSON" | python3 -c "import sys, json; print(json.load(sys.stdin)['InformationalVersion'])")
      BRANCHNAME=$(echo "$GITVERSION_JSON" | python3 -c "import sys, json; print(json.load(sys.stdin)['BranchName'])")
      PRERELEASETAG=$(echo "$GITVERSION_JSON" | python3 -c "import sys, json; d=json.load(sys.stdin); print(d.get('PreReleaseTag', ''))")
      echo "##vso[task.setvariable variable=GitVersion.semVer]$SEMVER"
      echo "##vso[task.setvariable variable=GitVersion.fullSemVer]$FULLSEMVER"
      echo "##vso[task.setvariable variable=GitVersion.informationalVersion]$INFORMATIONAL"
      echo "##vso[task.setvariable variable=GitVersion.branchName]$BRANCHNAME"
      echo "##vso[task.setvariable variable=GitVersion.preReleaseTag]$PRERELEASETAG"
      echo "SemVer: $SEMVER"
      echo "FullSemVer: $FULLSEMVER"
      echo "InformationalVersion: $INFORMATIONAL"
      echo "BranchName: $BRANCHNAME"
      echo "PreReleaseTag: $PRERELEASETAG"
    displayName: 'Set GitVersion variables'

  - script: |
      echo "SemVer: $(GitVersion.semVer)"
      echo "FullSemVer: $(GitVersion.fullSemVer)"
      echo "InformationalVersion: $(GitVersion.informationalVersion)"
      echo "BranchName: $(GitVersion.branchName)"
      echo "PreReleaseTag: $(GitVersion.preReleaseTag)"
    displayName: 'Display GitVersion outputs'

  - task: DotNetCoreCLI@2
    displayName: 'Restore dependencies'
    inputs:
      command: restore

  - script: |
      dotnet tool restore
      dotnet csharpier check .
    displayName: 'Check formatting (CSharpier)'

  - task: DotNetCoreCLI@2
    displayName: 'Build solution'
    inputs:
      command: build
      arguments: '--configuration $(CONFIGURATION) --no-restore /p:Version=$(GitVersion.semVer) /p:InformationalVersion=$(GitVersion.informationalVersion)'

  - task: DotNetCoreCLI@2
    displayName: 'Run tests'
    inputs:
      command: test
      projects: 'Wigo4it.MultiTenant.slnx'
      arguments: '--configuration $(CONFIGURATION) --no-build --logger trx --results-directory $(Agent.TempDirectory)/test-results'
      publishTestResults: false

  - task: PublishTestResults@2
    displayName: 'Publish test results'
    inputs:
      testResultsFormat: 'VSTest'
      testResultsFiles: '$(Agent.TempDirectory)/test-results/**/*.trx'
      searchFolder: '$(Agent.TempDirectory)/test-results'
      mergeTestResults: true
      testRunTitle: '.NET Tests'
      failTaskOnFailedTests: true
    condition: always()

  - task: DotNetCoreCLI@2
    displayName: 'Pack Wigo4it.MultiTenant'
    env:
      DOTNET_PACK_VERSION: $(GitVersion.fullSemVer)
    inputs:
      command: pack
      packagesToPack: './Wigo4it.MultiTenant/Wigo4it.MultiTenant.csproj'
      configuration: $(CONFIGURATION)
      nobuild: true
      packDirectory: '$(Build.ArtifactStagingDirectory)'
      versioningScheme: 'byEnvVar'
      versionEnvVar: 'DOTNET_PACK_VERSION'
      arguments: '/p:Version=$(GitVersion.fullSemVer)'

  - task: DotNetCoreCLI@2
    displayName: 'Pack Wigo4it.MultiTenant.NServiceBus'
    env:
      DOTNET_PACK_VERSION: $(GitVersion.fullSemVer)
    inputs:
      command: pack
      packagesToPack: './Wigo4it.MultiTenant.NServiceBus/Wigo4it.MultiTenant.NServiceBus.csproj'
      configuration: $(CONFIGURATION)
      nobuild: true
      packDirectory: '$(Build.ArtifactStagingDirectory)'
      versioningScheme: 'byEnvVar'
      versionEnvVar: 'DOTNET_PACK_VERSION'
      arguments: '/p:Version=$(GitVersion.fullSemVer)'

  - script: |
      ls -lh $(Build.ArtifactStagingDirectory)/*.nupkg
    displayName: 'List created packages'

  - task: PublishBuildArtifacts@1
    displayName: 'Upload packages as artifacts'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'nuget-packages'
      publishLocation: 'Container'

  - task: DotNetCoreCLI@2
    displayName: 'Push to Azure Artifacts'
    inputs:
      command: push
      packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
      nuGetFeedType: internal
      publishVstsFeed: '5b565ae4-2a0f-4f11-83f7-d4f32b47362a'
      arguments: '--skip-duplicate'
